:root {
  --backround: #b71318;
  --backround2: #868080;
  --font-family: Gilroy;
  --font-size: 13px;
}
.education-system-home-welcome {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.suggest-course-for-you {
  margin-bottom: 20px;
}

.education-system-home-welcome-in {
  display: flex;
  flex-flow: row wrap;
}

.education-system-home-welcome-text {
  flex-basis: 50%;
  max-width: 50%;
  padding-right: 20px;
}

.education-system-home-welcome-right {
  flex-basis: 50%;
  max-width: 50%;
  padding-left: 20px;
}

.education-system-home-welcome-box-icon-g {
  display: flex;
  justify-content: space-around;
}

.education-system-home-welcome-box-item {
}

.education-system-home-welcome-box-item .gt-img {
  position: relative;
  background-color: #dae0eb;
  text-align: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.education-system-home-welcome-box-item .gt-img img {
  max-width: 25px;
  height: 25px;
}

.education-system-home-welcome-box-item label {
  margin: 0 -15px;
  text-align: center;
  color: #666;
  font-weight: 700;
  display: block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 84px;
}

.education-system-home-welcome-text .content-text-new {
  height: 195px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
}

.education-system-home-welcome-text .content-text-new h3 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c7a7ac2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.suggest-course-for-you {
  background: #fff;
  padding: 20px;
}

.tab-action-out {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab-action-title {
  font-size: 20px;
  color: #666;
  display: inline-block;
  font-weight: 700;
}

.tab-action-more-int {
  display: flex;
}

.tab-action-more-int .item-tab-list {
  display: inline-block;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  float: right;
  margin-left: 1rem;
  cursor: pointer;
}
.tab-action-more-int .item-tab-list:hover,
.tab-action-more-int .item-tab-list.a-true {
  background: -webkit-gradient(linear, right top, left top, from(#ed1c24), to(#670000));
  background: linear-gradient(to left, #ed1c24, #670000);
  color: #fff;
  border-radius: 8px;
}

.your-course-sugguest-slide-item {
  position: relative;
  padding: 15px;
}

.your-course-sugguest-slide-item-in {
  position: relative;
}

.your-course-sugguest-slide-item-in .item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.your-course-sugguest-slide-item-in .item-like {
  right: 15px;
  position: absolute;
  top: 15px;
  cursor: pointer;
  z-index: 999;
}

.your-course-sugguest-slide-item-in .item-like i {
  font-size: 30px;
  color: #fff;
}

.your-course-sugguest-slide-item-in .item-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  cursor: pointer;
}

.your-course-sugguest-slide-item-in .item-info .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  height: 130px;
  position: absolute;
  padding: 0 15px;
  bottom: 10px;
  width: 100%;
}

.your-course-sugguest-slide-item-in .item-info .info-text .info-text-top {
}

.your-course-sugguest-slide-item-in .item-info .info-text .info-text-top .lb-line {
  width: 4rem;
  border-bottom: 2px solid #fff;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.your-course-sugguest-slide-item-in .item-info .info-text .info-text-top .a-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.your-course-sugguest-slide-item-in .info-text-bot {
  position: absolute;
  bottom: 15px;
  padding: 0 15px;
  color: #fff;
}

.your-course-sugguest-slide-item-in .info-text-bot .a-reg {
  text-transform: uppercase;
  cursor: pointer;
}

.your-course-sugguest-slide-item-in .info-text-bot .a-reg i {
  padding-right: 5px;
}

.your-course-sugguest-slide-item-in:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  /* border-radius: 10px; */
}

.your-course-sugguest-slide-item-in:hover .item-img {
  /* width: 100%; */
  /* height: 100%; */
  -o-object-fit: cover;
  /* object-fit: cover; */
  border-radius: 13px;
}

.your-course-sugguest-slide-in {
  position: relative;
}
.cusom-slick .slick-prev:hover,
.cusom-slick .slick-prev:focus,
.cusom-slick .slick-next:hover,
.cusom-slick .slick-next:focus {
  background: #ffffff;
}
.cusom-slick .slick-prev,
.cusom-slick .slick-next {
  font-size: 17px !important;
  width: 30px !important;
  height: 30px !important;

  background-color: #fff;
  /* color: red; */
  border-radius: 50%;
  text-align: center;
}

.cusom-slick .slick-next {
  right: 26px;
}
.cusom-slick .slick-prev:before,
.cusom-slick .slick-next:before {
  content: none !important;
}
.cusom-slick .slick-prev i,
.cusom-slick .slick-next i {
  color: var(--backround);
}

.cusom-slick .slick-prev {
  left: 25px;
  z-index: 99;
}

.your-course-sugguest-slide-in .slick-prev {
  left: -14px;
}

.your-course-sugguest-slide-in .slick-next {
  right: -14px;
}
.education-system-home-slide .slick-prev:hover,
.education-system-home-slide .slick-prev:focus,
.education-system-home-slide .slick-next:hover,
.education-system-home-slide .slick-next:focus {
  background: #ffffff;
}
.education-system-home-slide .slick-prev,
.education-system-home-slide .slick-next {
  font-size: 17px !important;
  width: 30px !important;
  height: 30px !important;

  background-color: #fff;
  /* color: red; */
  border-radius: 50%;
  text-align: center;
}

.education-system-home-slide .slick-next {
  right: 26px;
}
.education-system-home-slide .slick-prev:before,
.education-system-home-slide .slick-next:before {
  content: none !important;
}
.education-system-home-slide .slick-prev i,
.education-system-home-slide .slick-next i {
  color: var(--backround);
}

.education-system-home-slide .slick-prev {
  left: 25px;
  z-index: 99;
}
.education-system-home-out {
  max-width: 100%;
  background-color: #f1f2f7;
  padding: 10px 20px;
}

.education-system-home-statistic {
  margin-top: -69px;
  position: relative;
  margin-bottom: 20px;
  z-index: 9999;
  max-width: 100%;
}

.education-system-home-statistic-in {
  display: flex;
  flex-flow: row wrap;
  margin-left: -7px;
  margin-right: -7px;
}

.education-system-home-statistic-item {
  flex-basis: 25%;
  max-width: 25%;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
}

.education-system-home-statistic-item {
}

.education-system-home-statistic-item .dashboard-block {
  background-color: #fff;
  width: 100%;
  min-height: 140px;
  border-radius: 10px;
  padding: 15px 25px;
  height: 100%;
}

.education-system-home-statistic-item .dashboard-block .dashboard-icon {
  position: relative;
  float: right;
  top: 10px;
}

.education-system-home-statistic-item .dashboard-block .dashboard-icon i {
  color: var(--backround);
  font-size: 35px;
}

.education-system-home-statistic-item .dashboard-block .title5 {
  color: #666;
  font-size: 18px;
  font-weight: 700;
}

.education-system-home-statistic-item .dashboard-block .title3 {
  color: var(--backround);
  font-weight: 700;
  font-size: 20px;
  padding: 8px 0;
}

.education-system-home-statistic-item .dashboard-block .detail {
  font-size: 13px;
  bottom: 10px;
  position: absolute;
}

.education-system-home-statistic-item .dashboard-block .detail a {
  color: #666;
  cursor: pointer;
}

.education-system-home-statistic-item .dashboard-block .detail a i {
  padding-left: 5px;
}
.card-item-input p {
  margin-bottom: 6px;
}
input.q-file__filler {
  display: none;
}
.membership-benefit ul {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
img {
  max-width: 100%;
}
.membership-benefit ul li {
  list-style: none;
  text-align: left;
  font-size: 18px;
  margin-bottom: 15px;
}

.membership-benefit ul li i.fas {
  color: green;
}
.mx-icon-left:before,
.mx-icon-right:before,
.mx-icon-double-left:before,
.mx-icon-double-right:before,
.mx-icon-double-left:after,
.mx-icon-double-right:after {
  content: "";
  position: relative;
  top: -1px;
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-style: solid;
  border-color: currentColor;
  border-width: 2px 0 0 2px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-45deg) scale(0.7);
  transform: rotate(-45deg) scale(0.7);
}
.mx-icon-double-left:after {
  left: -4px;
}
.mx-icon-double-right:before {
  left: 4px;
}
.mx-icon-right:before,
.mx-icon-double-right:before,
.mx-icon-double-right:after {
  -webkit-transform: rotate(135deg) scale(0.7);
  transform: rotate(135deg) scale(0.7);
}
.mx-btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 15px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #73879c;
  white-space: nowrap;
}
.mx-btn:hover {
  border-color: #1284e7;
  color: #1284e7;
}
.mx-btn-text {
  border: 0;
  padding: 0 4px;
  text-align: left;
  line-height: inherit;
}
.mx-scrollbar {
  height: 100%;
}
.mx-scrollbar:hover .mx-scrollbar-track {
  opacity: 1;
}
.mx-scrollbar-wrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.mx-scrollbar-track {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 6px;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: opacity 0.24s ease-out;
  transition: opacity 0.24s ease-out;
}
.mx-scrollbar-track .mx-scrollbar-thumb {
  position: absolute;
  width: 100%;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(144, 147, 153, 0.3);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.mx-zoom-in-down-enter-active,
.mx-zoom-in-down-leave-active {
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    -webkit-transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform-origin: center top;
  transform-origin: center top;
}
.mx-zoom-in-down-enter,
.mx-zoom-in-down-leave-to {
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
.mx-datepicker {
  position: relative;
  display: inline-block;
  width: 210px;
}
.mx-datepicker svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.mx-datepicker-range {
  width: 320px;
}
.mx-datepicker-inline {
  width: auto;
}
.mx-input-wrapper {
  position: relative;
}
.mx-input-wrapper .mx-icon-clear {
  display: none;
}
.mx-input-wrapper:hover .mx-icon-clear {
  display: block;
}
.mx-input-wrapper:hover .mx-icon-clear + .mx-icon-calendar {
  display: none;
}
.mx-input {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 6px 30px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.mx-input:hover,
.mx-input:focus {
  border-color: #409aff;
}
.mx-input:disabled,
.mx-input.disabled {
  color: #ccc;
  background-color: #f3f3f3;
  border-color: #ccc;
  cursor: not-allowed;
}
.mx-input:focus {
  outline: none;
}
.mx-input::-ms-clear {
  display: none;
}
.mx-icon-calendar,
.mx-icon-clear {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}
.mx-icon-clear {
  cursor: pointer;
}
.mx-icon-clear:hover {
  color: rgba(0, 0, 0, 0.8);
}
.mx-datepicker-main {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
  color: #73879c;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}
.mx-datepicker-popup {
  position: absolute;
  margin-top: 1px;
  margin-bottom: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 2001;
}
.mx-datepicker-sidebar {
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  padding: 6px;
  overflow: auto;
}
.mx-datepicker-sidebar + .mx-datepicker-content {
  margin-left: 100px;
  border-left: 1px solid #e8e8e8;
}
.mx-datepicker-body {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mx-btn-shortcut {
  display: block;
  padding: 0 6px;
  line-height: 24px;
}
.mx-range-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bize-live-stream-chat {
  display: flex;
  flex-flow: row wrap;
}

.bize-live-stream {
  flex-basis: 70%;
  max-width: 70%;
}

.bize-chat {
  flex-basis: 30%;
  max-width: 30%;
  padding-left: 7px;
}

.bize-live-stream iframe {
  height: 497px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.bize-chat iframe {
  height: 497px;
  width: 100%;
  border: none;
  overflow: hidden;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .bize-live-stream iframe {
    height: 224px;
    width: 100%;
  }

  .bize-live-stream {
    flex-basis: 100%;
    max-width: 100%;
  }

  .bize-chat {
    flex-basis: 100%;
    max-width: 100%;
    padding-left: 0;
  }
}
@media (max-width: 750px) {
  .mx-range-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.mx-datepicker-header {
  padding: 6px 8px;
  border-bottom: 1px solid #e8e8e8;
}
.mx-datepicker-footer {
  padding: 6px 8px;
  text-align: right;
  border-top: 1px solid #e8e8e8;
}
.mx-calendar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 248px;
  padding: 6px 12px;
}
.mx-calendar + .mx-calendar {
  border-left: 1px solid #e8e8e8;
}
.mx-calendar-header,
.mx-time-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 34px;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
}
.mx-btn-icon-left,
.mx-btn-icon-double-left {
  float: left;
}
.mx-btn-icon-right,
.mx-btn-icon-double-right {
  float: right;
}
.mx-calendar-header-label {
  font-size: 14px;
}
.mx-calendar-decade-separator {
  margin: 0 2px;
}
.mx-calendar-decade-separator:after {
  content: "~";
}
.mx-calendar-content {
  position: relative;
  height: 224px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mx-calendar-content .cell {
  cursor: pointer;
}
.mx-calendar-content .cell:hover {
  color: #73879c;
  background-color: #f3f9fe;
}
.mx-calendar-content .cell.active {
  color: #fff;
  background-color: #1284e7;
}
.mx-calendar-content .cell.in-range,
.mx-calendar-content .cell.hover-in-range {
  color: #73879c;
  background-color: #dbedfb;
}
.mx-calendar-content .cell.disabled {
  cursor: not-allowed;
  color: #ccc;
  background-color: #f3f3f3;
}
.mx-calendar-week-mode .mx-date-row {
  cursor: pointer;
}
.mx-calendar-week-mode .mx-date-row:hover {
  background-color: #f3f9fe;
}
.mx-calendar-week-mode .mx-date-row.mx-active-week {
  background-color: #dbedfb;
}
.mx-calendar-week-mode .mx-date-row .cell:hover {
  color: inherit;
  background-color: transparent;
}
.mx-calendar-week-mode .mx-date-row .cell.active {
  color: inherit;
  background-color: transparent;
}
.mx-week-number {
  opacity: 0.5;
}
.mx-table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.mx-table th {
  padding: 0;
  font-weight: 500;
  vertical-align: middle;
}
.mx-table td {
  padding: 0;
  vertical-align: middle;
}
.mx-table-date td,
.mx-table-date th {
  height: 32px;
  font-size: 12px;
}
.mx-table-date .today {
  color: #2a90e9;
}
.mx-table-date .cell.not-current-month {
  color: #ccc;
  background: none;
}
.mx-time {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 224px;
  background: #fff;
}
.mx-time + .mx-time {
  border-left: 1px solid #e8e8e8;
}
.mx-calendar-time {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mx-time-header {
  border-bottom: 1px solid #e8e8e8;
}
.mx-time-content {
  height: 224px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.mx-time-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mx-time-column {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  border-left: 1px solid #e8e8e8;
  text-align: center;
}
.mx-time-column:first-child {
  border-left: 0;
}
.mx-time-column .mx-time-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mx-time-column .mx-time-list::after {
  content: "";
  display: block;
  height: 192px;
}
.mx-time-column .mx-time-item {
  cursor: pointer;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
}
.mx-time-column .mx-time-item:hover {
  color: #73879c;
  background-color: #f3f9fe;
}
.mx-time-column .mx-time-item.active {
  color: #1284e7;
  background-color: transparent;
  font-weight: 700;
}
.mx-time-column .mx-time-item.disabled {
  cursor: not-allowed;
  color: #ccc;
  background-color: #f3f3f3;
}
.mx-time-option {
  cursor: pointer;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 20px;
}
.mx-time-option:hover {
  color: #73879c;
  background-color: #f3f9fe;
}
.mx-time-option.active {
  color: #1284e7;
  background-color: transparent;
  font-weight: 700;
}
.mx-time-option.disabled {
  cursor: not-allowed;
  color: #ccc;
  background-color: #f3f3f3;
}
.mx-datepicker {
  background: #f2f2f2;
  border-radius: 4px 4px 0 0;
}
.card-item-input {
  padding: 7px;
}
.mx-input-wrapper {
  padding: 0 12px;
}
.mx-height-40 .mx-datepicker {
  height: 40px;
}
.mx-height-40 input {
  position: relative;
  top: 2px;
  background: transparent;
  box-shadow: none;
  border: 0;
}
.mx-datepicker-range {
  width: 100% !important;
}
.row-eq .card-item {
  height: 100%;
}
.mx-datepicker-popup {
  z-index: 99999 !important;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #2196f3;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

.list-products {
  max-height: 300px;
  overflow: auto;
  border: 1px dashed #ddd;
  padding-bottom: 0 !important;
  /* width: 20%; */
}

.flex-dp {
  display: flex;
  flex: 1;
}

.flex-space-around {
  justify-content: space-between;
}

.buyer-info:nth-child(1) {
  width: 70%;
}
.buyer-info:nth-child(2) {
  width: 30%;
}

.product-name {
  /*width: 200px;*/
}
.product-item {
  border-bottom: 1px dashed #ddd;
}
.product-item:last-child {
  border: none !important;
}
.bd-rd-0 {
  border-radius: 0 !important;
}
@media only screen and (max-width: 600px) {
  .dashboard-page .card-item,
  .dashboard-2-page .card-item {
    margin-bottom: 0 !important;
  }
  .card-item {
    padding: 18px !important;
  }
  .q-card__section .dashboard-page {
    padding: 0 !important;
  }
  .q-mobile-mb-md {
    margin-bottom: 18px;
  }
  .padding-bottom-mb-50 {
    padding-bottom: 50px;
  }
  .banner-img {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .card-number {
    font-size: 18px !important;
  }
}
@media (min-width: 601px) and (max-width: 1500px) {
  .card-number {
    font-size: 18px !important;
  }
  .card-item {
    padding: 15px !important;
  }
}

@media (min-width: 1300px) {
  .scroll-view-sc::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  .scroll-view-sc::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  .scroll-view-sc.primary-bar::-webkit-scrollbar-thumb {
    background-color: #1976d2;
  }
  .scroll-view-sc.green-bar::-webkit-scrollbar-thumb {
    background-color: #4caf50;
  }
  .card-number {
    font-size: 20px !important;
  }
  .max-height-sc {
    max-height: 400px;
  }
}

.text-h6 {
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.0125em;
  color: #555;
}
.doc-note--tip {
  background-color: #daf8e1 !important;
  border-color: #9cedaf !important;
}
.doc-note {
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 16px 24px;
  font-size: 1em;
  line-height: 1.35em;
  border-width: 0 5px;
  border-style: solid;
  border-color: #eee;
  letter-spacing: 0.5px;
}
